.cards{
    padding: 2%;
    margin-left: 1%;
}
.card1 c1{
    margin-left: 2%;
    display: grid;
    
}
.card2{
    margin-left: 2%;
}
.c2{
    /* margin-left: 2%;
    display: grid; */
    height: 190px;
    width: 150px;
}
.card2 a{
    margin-left: 2%;
}
.B2{
    /* padding: 10px; */
    margin-left: 10%;
}