.header{
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    width: 100%;
    padding: 20px 10%;
    background: transparent 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbar a{
    position: relative;
    font-size: 15px;
    margin-left: 40px;
    padding-right: 4px;
    color: white;
    font-weight: 600;
}
.Logo{
    
    font-size: 32px;
    color: aliceblue;
    font-weight: 600;
}
.navbar a::before{
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: blue;
    transition: 800ms;
}
.navbar a:hover::before{
    width: 100%;
}